<html>
<body>
<form action="/upload/" enctype="multipart/form-data" method="post">
  <h3>
    图片尺寸 48* 48 到  800 * 800之间
  </h3>
  <h3>
    图片小与 2M
  </h3>
  <input type="file" name="sr">
  <input type="submit">
</form>
</body>
</html>
